{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% set first_section = view.element.view_build['#rows'].0['#title'].__toString %}
{% if title.__toString in first_section %}
  <h2 class="content__header -top">{{ title }}</h2>
{% else %}
  <h2 class="content__header -section">{{ title }}</h2>
{% endif %}
<div class="grid -card -person -full">
  {% for row in rows %}
    {{- row.content -}}
  {% endfor %}
</div>
