{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 * - view_mode: View mode used
 *
 * @see template_preprocess_media()
 */
#}
<div class="hero__video">
  {{ content }}
</div>
