.quote {
  display: flex;
  margin: 72px auto 0;
  max-width: 600px;
  flex-direction: column;
  &__person {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 600px;
    min-width: 280px;
  }
  &__img {
    height: auto;
  }
  &__details {
    display: block;
    padding: 16px;
    background-color: var(--neutral-white);
    color: var(--secondary-maroon);
  }
  &__name {
    font-size: 1.125rem;
    margin: 0;
    margin-bottom: 8px;
  }
  &__title {
    font-size: .875rem;
    font-variation-settings: 'wght' 700;
    margin: 0;
  }
  &__text {
    display: block;
    box-sizing: border-box;
    font-size: 1.5rem;
    font-family: var(--font-header);
    padding: 14px 28px;
    margin: 0;
    background: var(--neutral-lightGrey);
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, var(--secondary-maroon), var(--primary-orange));
  }
}

@media screen and (min-width: 1025px) {
  .quote {
    max-width: 900px;
    flex-direction: row;
    &__text {
      align-self: flex-end;
      min-height: 200px;
      font-size: clamp(14px, 2vw, 1.5rem);
    }
    &.-stacked {
      flex-direction: column;
    }
  }
}
